In [1]:
import pandas as pd
import numpy as np
from causal_world import world_generator, show_parameters, sample_parameters, sample

In [2]:
np.random.seed(123)
world = world_generator(
    features=4,
    parameters_override={
        "t_effect": np.array([[10, 0, 0, 0, 0]]).T,
        "daily_samples": 10000
    }
)

In [3]:
data, world = world.get("sampler")()

In [4]:
data.head()

     T     x_1    x_2     x_3    x_4      Y
0  1.0   94.45  42.09 -163.60 -51.65  19.13
1  1.0  102.02  25.81 -147.16 -51.49 -12.66
2  1.0  103.17  29.29 -158.38 -50.41  -8.06
3  1.0   96.71  26.99 -158.74 -54.60  -5.03
4  0.0  114.16  26.23 -136.44 -45.06 -34.32

In [5]:
data, world = world.get("sampler")()

In [6]:
data.head()

     T     x_1    x_2     x_3    x_4      Y
0  0.0   93.61  23.03 -157.42 -60.40 -16.75
1  1.0  101.82  24.34 -140.58 -48.49 -16.12
2  0.0   94.01  28.95 -150.81 -65.07  -6.68
3  0.0   97.96  25.82 -140.27 -55.60 -18.37
4  0.0  107.16  31.70 -148.79 -48.54 -18.62

In [7]:
show_parameters(world)

time
 1

mean
 [-108.56306033   99.73454466   28.29784981 -150.62947139  -57.8600252 ]

covariance
 [[46.65274563  5.82570355 -4.56908375 12.62744759 18.56452602]
 [ 5.82570355 49.88654907  7.24111127  8.20709825  3.51683289]
 [-4.56908375  7.24111127 33.89574108 -1.55437125 -3.10665618]
 [12.62744759  8.20709825 -1.55437125 63.73730212 -5.24548633]
 [18.56452602  3.51683289 -3.10665618 -5.24548633 28.37013779]]

y_coef
 [[-0.78680087]
 [ 1.53418437]
 [-0.04889153]
 [-0.34515174]]

t_effect
 [[10]
 [ 0]
 [ 0]
 [ 0]
 [ 0]]

beta0
 [-6.95981176]

binary_treatment
 True

noise_tempering
 [4.73343591]

daily_samples
 10000

In [8]:
import statsmodels.formula.api as smf
result = smf.ols('Y ~ T', data=data).fit()
result.summary().tables[1]

In [9]:
result = smf.ols('Y ~ T+x_1+x_2+x_3+x_4+x_2', data=data).fit()
result.summary().tables[1]

### Random Sample

In [16]:
def treatment_fn(features):
    return np.random.binomial(1, 0.1, size=(features.shape[0],1))

In [18]:
data, world = world.get("sampler")(treatment_fn=treatment_fn)
data["T"].mean()
# random_sample = sate2.get("sampler")(n=daily_samples, treatment_fn=treatment_fn)

# random_sample.head()

0.098

In [19]:
random_sample.corr()

NameError: name 'random_sample' is not defined

## ATE

In [12]:
import statsmodels.formula.api as smf
result = smf.ols('Y ~ T', data=sample).fit()
result.summary().tables[1]

In [13]:
result = smf.ols('Y ~ T+x_1+x_2+x_3+x_4+x_2', data=sample).fit()
result.summary().tables[1]

In [14]:
result = smf.ols('Y ~ T+x_1+x_2+x_3+x_4+x_2', data=random_sample).fit()
result.summary().tables[1]

## CATE

In [15]:
result = smf.ols('Y ~ T*(x_1+x_2+x_3+x_4+x_2)', data=sample).fit()
result.summary().tables[1]

In [16]:
result = smf.ols('Y ~ T*(x_1+x_2+x_3+x_4+x_2)', data=random_sample).fit()
result.summary().tables[1]

In [17]:
show_parameters(state1, "y_coef")
show_parameters(state1, "t_effect")

y_coef
 [[-100]
 [   3]
 [  -2]
 [   4]
 [ -20]]

t_effect
 [[100]
 [  0]
 [ -2]
 [ 10]
 [  0]]

## Evalation

In [18]:
from sklearn.model_selection import train_test_split
result = smf.ols('Y ~ T*(x_1+x_2+x_3+x_4+x_2)', data=random_sample).fit()

In [19]:
state3 = sate2.get("world")(3)
evaluation_set = state3.get("sampler")(n=daily_samples, treatment_fn=treatment_fn)

In [20]:
predictions = (evaluation_set
               .assign(lift=result.predict(evaluation_set.assign(T=1)).values -
                            result.predict(evaluation_set.assign(T=0)).values))

In [21]:
(predictions
 .assign(lift_band = pd.qcut(predictions["lift"], 5))
 .groupby(["lift_band", "T"])
 [["Y"]]
 .mean()
 .reset_index()
 .pivot(index='lift_band', columns='T', values='Y')
 .assign(true_lift = lambda d: d[1.0] - d[0.0])
)

T                                     0.0          1.0   true_lift
lift_band
(-293.35999999999996, 23.71]  2486.421277  2543.074906   56.653629
(23.71, 100.885]              2526.553673  2583.875882   57.322209
(100.885, 175.975]            2481.569574  2669.000189  187.430614
(175.975, 270.065]            2535.781923  2731.205208  195.423285
(270.065, 598.032]            2530.862653  2887.498431  356.635778

In [28]:
np.random.lognormal(6)

1967.4371907374166